# Default ignored files
.idea
/shelf/
/workspace.xml

# Editor-based HTTP Client requests
/httpRequests/

# Folders to ignore
node_modules/
**/node_modules/

dist/
**/dist/

.parcel-cache/
**/.parcel-cache/

package-lock.json
**/package-lock.json